.l-main{
  width: 1200px;
  padding: 150px 0;
  margin: 0 auto;
  position: relative;

  .message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    mix-blend-mode: multiply;
    position: absolute;
    top: 180px;
    right: 0;
    animation: anime 3s ease 0s forwards;
    opacity: 0;
    
    @keyframes anime {
      0%{
        opacity: 0;
      }
      20%{
        opacity: 1;
      }
      80%{
        opacity: 1;
      }
      100%{
        opacity: 0;
      }
    }

    &.error-message{
      background: #fc301d;
    }
    
    &.success-message{
      background: #058c54;
    }
  }

  .column{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
      font-size: 32px;
      font-weight: bold;
    }

    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 40px;
      background: #fff;
      border: 1px solid #3d7e00;
      font-size: 18px;
      color: #3d7e00;
      text-decoration: none;
      font-weight: bold;
      transition: .3s;

      &:hover{
        opacity: .7;
        transition: .3s;
      }
    }
  }


  table{
    width: 100%;
    margin-top: 50px;
    border: 1px solid #3d7e00;

    tbody{
      tr{
        width: 100%;

        &:has(td){
          border-top: 1px solid #3d7e00;

          &:nth-of-type(odd){
            background: #f8fff0;
          }
        }

        th{
          font-size: 16px;
          color: #fff;
          background: #3d7e00;
          height: 40px;

          &:nth-of-type(n+2){
            border-left: 1px solid #fff;
          }

          &:nth-of-type(1){
            width: 30%;
          }

          &:nth-of-type(2){
            width: 50%;
          }

          &:nth-of-type(3){
            width: 20%;
          }
        }

        td{
          padding: 10px;

          &:nth-of-type(n+2){
            border-left: 1px solid #3d7e00;
          }

          &:nth-of-type(1){
            width: 30%;

            img{
              display: block;
              width: 300px;
              margin: 0 auto;
            }
          }

          &:nth-of-type(2){
            width: 50%;
          }

          &:nth-of-type(3){
            width: 20%;
            text-align: center;

            a{
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 auto;
              width: 200px;
              height: 40px;
              font-size: 18px;
              text-decoration: none;
              color: #333333;
              font-weight: bold;
              background: #fff;
              border: 1px solid #333333;
              transition: .3s;

              &:hover{
                opacity: .7;
                transition: .3s;
              }
            }

            button{
              width: 200px;
              height: 40px;
              background: #E60000;
              color: #fff;
              border: none;
              font-size: 18px;
              font-weight: bold;
              transition: .3s;
              margin-top: 10px;

              &:hover{
                cursor: pointer;
                opacity: .7;
                transition: .3s;
              }
            }
          }
        }
      }
    }
  }

  nav{
    margin-top: 50px;

    .pagination{
      display: flex;
      align-items: center;
      justify-content: center;

      li{
        width: 50px;
        height: 50px;
        border: 1px solid #3d7e00;
        display: flex;
        align-items: center;
        justify-content: center;
        
        + li{
          margin-left: 5px;
        }
        
        &.active{
          background: #3d7e00;

          span{
            color: #fff;
          }
        }

        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #3d7e00;
        }
      }
    }
  }
}